{% extends "base_generic.html" %}

{% block content %}
    <h1 class="text-white">.</h1>
    <table class="table">
        <tbody>
            <tr>
                <td class="container">
                    <img src="https://mercantil.com.mx/c/31-category_default/ferreteria-y-herramientas.jpg">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEAmZ3Z4Vp5fILJpgMd0DYUUDjALYaU54yWliIXqgbPEqA64NREQLef8bD53LPaT7YnQ0&usqp=CAU" width="200px" height="200px">
                    <img src="https://us.123rf.com/450wm/alexwhite/alexwhite1511/alexwhite151104705/48163308-herramientas-web-azul-icono-de-dise%C3%B1o-plano-sobre-fondo-blanco.jpg" width="200px" height="200px">
                    <img src="https://png.pngtree.com/png-vector/20190728/ourlarge/pngtree-construction-hammer-tool-blue-dotted-line-line-icon-png-image_1621691.jpg" width="200px" height="200px">
                    <img src="https://www.pngkit.com/png/full/208-2087383_construction-icon-construction-icon.png" width="200px" height="200px">
                    <img src="https://www.tienda.figueacero.com.mx/assets/iconos/tipos-producto/ferreteria.png" width="200px" height="200px">
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}